<!DOCTYPE html>
<html>
<head>
    <title>Generate Bill</title>
</head>
<body>
    <h1>Generate Bill</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <h3>Select Products:</h3>
        <ul>
            {% for product in products %}
                <li>
                    <input type="checkbox" name="products" value="{{ product.id }}">
                    {{ product.name }} - Price: ${{ product.mrp }} - Quantity: {{ product.quantity }}
                </li>
            {% endfor %}
        </ul>
        <button type="submit">Generate Bill</button>
    </form>
    <a href="{% url 'product_list' %}">Back to Product List</a>
</body>
</html>
